.username {
  color: rgba(0, 0, 0, 0.65);
}
.content {
  color: rgba(0, 0, 0, 0.85);
}
.time {
  color: rgba(0, 0, 0, 0.45);
  line-height: 32px;
}
.reply {
  display: none;
}
.comment:hover .reply {
  display: inline;
}
